@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-slate-100 font-sans antialiased;
  }
}

.glass-card {
  @apply bg-slate-900/50 backdrop-blur-xl border border-white/10 shadow-xl;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-slate-400;
}

.h-screen-safe {
  height: 100vh; /* Fallback */
  height: 100dvh;
}

/* Autofill Hack */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #f8fafc;
  -webkit-box-shadow: 0 0 0px 1000px #0f172a inset;
  transition: background-color 5000s ease-in-out 0s;
}
